[2014-03-11 16:26] tvooo opened #1 "Some ideas for future development"
Hey @nickclaw ,
I am the maintainer for [sublime-grunt](https://github.com/tvooo/sublime-grunt), the Grunt task runner for Sublime Text. I got my Atom invite today and am happy to see that you tackled the task of building a Grunt task runner for it, already :)

I would help you with a few pull requests, but I never used CoffeeScript, so maybe I can give you a few ideas on where to bring this plugi

[2014-03-11 16:29] tvooo opened #2 "Uncaught Error: spawn ENOENT"
If I don't have anything entered in the PATH field of the package's settings, I get this error message in the console: *Uncaught Error: spawn ENOENT*.

If I have a *wrong* path entered in the PATH field, I get the proper error message (as should happen for the above case, as well).

BTW: Sublime Text has this problem, and it appears to affect Atom as well. If I start Atom via iTerm (or any environ

[2014-03-12 09:35] lunelson opened #3 "Can't figure out the path"
It would be helpful to have an indication of what the path for grunt-cli might be. I've tried everything but no luck. I'm on OSX and installed it with `sudo npm install -g grunt-cli`

[2014-03-19 19:14] lmartins opened #4 "Gulp Support"
Love this plugin, the way it elegantly integrates grunt into the editor really shows why can Atom be a superior tool compared with other editor.

A small request though, any change we can get the plugin to support Gulp?

[2014-03-19 19:32] #4 closed, assigned to nobody

[2014-03-19 20:28] nickclaw opened #5 "Refused to evaluate a string as JavaScript because 'unsafe-eval'..."
Looks like with Atom `v.73` they added some restrictions on `eval`, which is good.
Unfortunately, `lodash`, a requirement of `grunt`, does some `eval`ing to test for support of certain features. The problem is that this means that Atom absolutely refuses to load `grunt-runner`.

I can fix this by returning to the use of a `GruntParser` object that pretends to be `grunt` and gathers and collects al

[2014-03-19 20:29] nickclaw opened #6 "Use atom-message-panel"
Switch to using [atom-message-panel](https://github.com/tcarlsen/atom-message-panel) for the message view.

[2014-03-26 17:19] eighteyes opened #7 "Running causes devtools to open."
Interesting. :)

[2014-03-28 15:15] magalhas opened #8 "Uncaught Error: spawn ENOENT running grunt-contrib-jasmine"
In fact it happens with any Grunt task.

[2014-03-28 18:33] #8 closed, assigned to nobody

[2014-04-06 16:03] creynders opened #9 "Error thrown in console in projects w/o gruntfile"
It's not really a problem, but if you open a project w/o grunt file the grunt-runner outputs an error to the console:

[code]

[2014-05-12 16:00] manifestinteractive opened #10 "Error loading gruntfile: MODULE_NOT_FOUND"
I did not see this listed, but I have a a Gruntfile.js that runs fine in CLI but will not run with this package.  I get the following error:

**Error loading gruntfile: MODULE_NOT_FOUND**

Below is the contents of the Gruntfile.js

[code]

[2014-05-19 18:49] jdsimcoe opened #11 "How do you remove tasks from this view?"
I accidentally typed `def` instead of `default` and now I can't remove this task from showing up:

![screenshot](http://cl.ly/image/2P47313R4744/Image%202014-05-19%20at%2011.48.33%20AM.png)

There should be a way to clear this project-wide or app-wide.

[2014-06-19 17:37] eddiemonge opened #13 "Grunt tab should be hidden by default"
It currently takes up a lot of space and is intrusive

[2014-06-29 05:28] ghost opened #14 "Support default grunt task"
Current leaving the field blank will not do anything, and inputting `grunt` will just try to run `grunt grunt`.  Need an alias set for `default`.

[2014-06-29 05:29] #14 closed, assigned to nobody

[2014-06-29 05:31] ShawnStrickland opened #15 "Support Grunt not in root folder"
Is it possible to support grunt not in the root project folder?  Or is there good supporting evidence that I should have a Gruntfile at the project's root to begin with?

[2014-07-18 18:56] MetaMemoryT opened #16 "unable to resize grunt panel"
the panel this extension makes cannot be resized, perhaps issue #6 would fix this.

unsure whether this is windows specific.

[2014-07-25 13:57] ghost opened #18 "Grunt exited: code 8 (Windows 7)"
What is wrong? I try set the default folder to C:\Users<User>\AppData\Roaming\npm\node_modules, C:\Users<User>\AppData\Roaming\npm\node_modules\grunt-cli\bin and does not solve. Help me please

![grunt](https://cloud.githubusercontent.com/assets/5442530/3702778/ff9e335a-1402-11e4-83b3-a93acf58f2eb.gif)

[2014-08-24 16:44] #18 closed, assigned to nobody

[2014-09-23 14:40] cperryk opened #20 "Gruntfile not found when opening a project via Project Manager"
Not sure if this is an atom-grunt-runner issue or an atom-project-manager issue, but here it goes: When I open a project with Project Manager, the gruntfile can't be found, even though gruntfile.js is listed in the root directory of the project in the file tree.

Strangely, when I open the project without using Project Manager, i.e. by clicking on a root file or running "atom" after cc-ing to the

[2014-12-12 01:37] #16 closed, assigned to nobody

[2014-12-15 14:28] kalevitan opened #24 "Fatal error: Unable to find local grunt"
Grunt is installed globally (which grunt) and I've added my grunt path in the grunt-runner settings (/usr/local/bin). I have also installed grunt locally within my project (npm install grunt --save-dev). I'm at the root of a project with a valid grunt file and I'm still getting this error.

Grunt runner 0.6.0

[2014-12-15 15:02] #24 closed, assigned to nobody

[2015-01-08 14:21] tdolsen commented on #10
I have the same issue, but it's apparent (in my case) that it only happens when I load a new folder while grunt-runner already has been loaded.

I.e. running `atom` from cli in a folder with a Gruntfile will work, but opening a blank Atom first, then changing the folder (to one that also have a Gruntfile) will not work. Doing `View -> Reload` will fix the issue.

It seems grunt-runner needs to rei

[2015-01-09 20:19] cperryk opened #25 "Gruntfile not found when dragging project folder into open window"
I can only get this package to work if I open my project by cd-ing into the project directory and running the "atom" command. If I instead open a new Atom window and drag my project directory into it, I will get a "fatal error: unable to find local grunt" upon attempting to run a grunt command.

[2015-01-10 12:00] dwelle commented on #25
`6.1` should solve this, but it's not yet up on apm (#26) so you have to update manually (download zip and replace in your packages folder)

[2015-01-14 23:51] cperryk commented on #25
I don't know much about developing these Atom plugins, but here's my theory after fiddling with the code for a few minutes: The plugin's initialization function, which caches the project path, runs when a new window is opened. If the user clicks on a file in the project directory or runs the "atom" command there, a window opens and the path is defined immediately. But when the user opens a blank n

[2015-01-16 14:45] kokarn opened #28 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[code]

[code]

[code]

[code]

[code]

[2015-01-16 14:46] kokarn opened #29 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-01-16 14:46] #29 closed

[2015-01-19 06:52] ShawnStrickland commented on #10
Can confirm same step with @tdolsen to get this working.  Ensuring a `View -> Reload` will make it work 100% of the time.

[2015-02-04 03:01] Noah-Huppert opened #32 "Error loading gruntfile: EBADF"
When I open the panel(`Grunt Runner: Toggle Panel`) in Atom I get the following error
[code]

I have replicated this bug with `.coffee` and `.js` Gruntfiles. Both of these Gruntfiles were in the root of the project.

When I run Atom as administrator I get a different error in panel
[code]

System Information
===============
- OS: Windows 8.1 x64
- Atom Version: 0.177.0
- Atom Grunt Runner Version:

[2015-02-13 06:15] nickclaw commented on #32
The EBADF sounds like it might be a file permissions error? Anyways, I've upgraded how this plugin tries to find the grunt module. Would you mind updating and trying again?

[2015-02-16 20:31] brogers4 opened #33 "Cannot read property 'gruntPaths'"
When I open Atom in a blank project or a project with no grunt file, I get the following error.  I updated my global path in settings to "C:\Users\[user]\AppData\Roaming\npm\node_modules\" and get the same error.  When I open a project with a proper gruntfile, I do not get the error, but nothing works.  Running Win7.
[code]

[2015-02-16 20:59] #33 closed

[2015-02-21 11:21] bthusby opened #34 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-02-23 17:51] ejwaibel opened #35 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-02-24 21:53] nickclaw commented on #35
Duplicate of #34
Thanks.

[2015-02-24 21:53] #35 closed

[2015-02-24 22:47] adamdebono opened #36 "Won't load grunt tasks from included files."
All of my grunt tasks are kept in separate files (in the grunt directory), but the plugin won't acknowledge any of these tasks. I just get 'Grunt file parsed, found 0 tasks)

[2015-02-25 07:35] kokarn commented on #36
Does it work from the command line directly? Could you post your Gruntfile?

[2015-02-25 21:32] adamdebono commented on #36
yeah works from the command line.

_gruntfile.js_
[code]

[2015-02-26 16:55] adamj88 commented on #36
Can confirm the same, appears not to work with the load-grunt-config way of creating Grunt tasks, my grunt file is pretty similar:

[2015-02-27 01:10] nickclaw commented on #36
Bizarre. Grunt-runner uses your local installation of `grunt` to parse tasks and reads directly from it, so I wouldn't think requiring within the function would matter unless there's something asynchronous going on. I'll play around a bit with it this weekend to try to see what's up.

[2015-03-05 20:17] Trudko opened #37 "No tasks loaded"
Hi, maybe I am doing something wrong, but running the run command  opens empty list for me:

![grunt-runner](https://cloud.githubusercontent.com/assets/3289225/6513670/e9dff768-c37c-11e4-8f98-cc98cfee4798.gif)

[2015-03-05 23:44] aaronpowell opened #38 "Colours are almost impossible to read on a light shell theme"
I use a light shell theme and it's basically impossible to read the warning messages because of the yellow.

![Log](https://cloud.githubusercontent.com/assets/434140/6517227/19afdde4-c3ed-11e4-92ad-39d37b42b175.PNG)

The blue isn't much better but I can at least read that. I hacked my own CSS to use `#aa0` to it's a bit more readable :stuck_out_tongue:

[2015-03-06 07:08] kokarn commented on #37
Yeah this has been an issue for me as well since the last version. It still
works tho

On Thu, Mar 5, 2015, 21:17 Trudko <notifications@github.com> wrote:

[2015-03-06 07:12] kokarn commented on #38
Yeah, it's hardcoded right now which of course makes it horrible on some
themes. Sorry about that. Would you mind having a go at trying to use some
colours from the current theme? I hope there are some vars defined
somewhere ^^

On Fri, Mar 6, 2015, 00:44 Aaron Powell <notifications@github.com> wrote:

[2015-03-10 14:01] kokarn opened #40 "Panel not opening as default any more"
After the last update, the panels don't open as before. Now i have to go and toggle panel for it to open an horizontal panel and then toggle log to show the default vertical log.

Is that the same behaviour as anybody else? @adam-h ?

[2015-03-11 12:56] darrennolan commented on #32
I have this issue at the moment.  Windows 7 - fresh copy of Atom.io 0.187.0

Will try this on the mac tomorrow and see if the same issue persists.  I can edit the file just fine in atom so not sure why it would be a permission thing.

[2015-03-13 15:11] leshow commented on #37
I also can't get it to list more than one task at once per session, for example if i start up atom and go ctl+alt+shift+T and type in 'build'

the task will execute
if I then go
ctl+alt+g and type in 'default' (which runs a watch task)

it will not execute

[2015-03-16 18:14] adam-h commented on #40
I never saw that issue, but I see it's been/being fixed in the other issue :)

[2015-03-17 07:53] kokarn commented on #40
Agreed, it is now fixed thanks to @sebastianhaeni

[2015-03-17 07:53] #40 closed

[2015-03-23 05:19] pangwa opened #42 "Project indexing not work after enable this package."
Steps to reprod:
1. install this package
2. File->Open a Folder and select a folder to open
3. Ctrl-P to show the find files dialog

The index will not work

[2015-03-23 13:02] visualcookie commented on #7
Did try your solutions... didn't worked out. Still get the same error.

[2015-03-31 15:50] ruimgoncalves commented on #42
Yeap, verified on windows 64

[2015-04-11 22:51] anonymous-penguin opened #43 "Package.getStylesheetsPath is deprecated."
Store package style sheets in the `styles/` directory instead of `stylesheets/` in the `grunt-runner` package
[code]

[2015-04-11 22:52] anonymous-penguin opened #44 "Object.Object.defineProperty.get is deprecated."
Requiring `$` from `atom` is no longer supported.
If you are using `space-pen`, please require `$` from `atom-space-pen-views`. Otherwise require `jquery` instead:
  `{$} = require 'atom-space-pen-views'`
  or
  `$ = require 'jquery'`
Add `"atom-space-pen-views": "^2.0.3"` to your package dependencies.
Or add `"jquery": "^2"` to your package dependencies.
[code]

[2015-04-13 06:40] kokarn opened #45 "Object.Object.defineProperty.get is deprecated."
Requiring `View` from `atom` is no longer supported.
Please require `atom-space-pen-views` instead:
  `{View} = require 'atom-space-pen-views'`
Add `"atom-space-pen-views": "^2.0.3"` to your package dependencies.
[code]

[2015-04-13 16:41] #34 closed

[2015-04-13 16:41] #43 closed

[2015-04-13 16:41] #44 closed

[2015-04-13 19:11] yurique opened #47 "Failed to load the grunt-runner package"
[Enter steps to reproduce below:]

1. Just install `grunt-runner` package

**Atom Version**: 0.190.0
**System**: Mac OS X 10.10.3
**Thrown From**: [grunt-runner](https://github.com/nickclaw/atom-grunt-runner) package, v0.8.0

### Stack Trace

Failed to load the grunt-runner package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-04-14 06:27] #45 closed

[2015-04-14 06:27] #28 closed

[2015-04-29 05:55] faddee commented on #13
:+1:

[2015-05-04 08:27] BEEware commented on #15
I'll appreciate that function, too. In many projects, the Gruntfile is in the theme folder instead the root folder.

[2015-05-05 13:36] LebedevAntony opened #48 "Grunt-runner breaks fuzzy-finder"
I've installed grunt-runner and agter that built-in plugin fuzzy-finder won't work - I press Ctrl + P and get following errors:

module.js:330
    throw err;
          ^
Cannot find module 'atom' module.js:330
    throw err;
          ^
Error: Cannot find module 'atom'
    at Function.Module._resolveFilename (module.js:328:15)
    at Function.Module._load (module.js:270:25)
    at Module.require (

[2015-05-07 00:36] dorgan opened #49 "Failed to activate the grunt-runner package"
[Enter steps to reproduce below:]

1. Open Atom

**Atom Version**: 0.196.0
**System**: Mac OS X 10.10.3
**Thrown From**: [grunt-runner](https://github.com/nickclaw/atom-grunt-runner) package, v0.8.2

### Stack Trace

Failed to activate the grunt-runner package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-05-07 06:45] #49 closed

[2015-05-07 09:04] kokarn opened #50 "Package.activateConfig is deprecated."
Use a config schema instead. See the configuration section
of https://atom.io/docs/latest/hacking-atom-package-word-count and
https://atom.io/docs/api/latest/Config for more details
[code]

[2015-05-07 09:04] kokarn commented on #50
This seems a bit weird, anybody know where this comes from or how to fix it?

[2015-05-07 09:29] #50 closed

[2015-05-07 13:59] kupoback opened #51 "atom.tooltips.add Issue"
I updated the package today and was welcomed with this error

`Error: setTooltip is no longer available. Please use 'atom.tooltips.add' instead.

See the docs at https://atom.io/docs/api/latest/TooltipManager#instance-add
  at [object Object].$.fn.setTooltip (C:\Users\nick\AppData\Local\atom\app-0.196.0\resources\app.asar\node_modules\atom-space-pen-views\node_modules\space-pen\lib\space-pen.js:61

[2015-05-07 14:39] kokarn commented on #51
This has already been fixed with https://github.com/nickclaw/atom-grunt-runner/commit/02ef94c5913f88f338cb1ff4f0b5d90fb738b162.
Just waiting for @nickclaw to publish a new version.
Until then you can get the working version from this repository.

[2015-05-07 14:39] #51 closed

[2015-05-10 11:11] tusbar commented on #7
Same here, grunt is installed in `~/.nvm/versions/node/v0.12.2/bin`

Specifying `~/.nvm/versions/node/v0.12.2/bin` or `/Users/username/.nvm/versions/node/v0.12.2/bin` in the PATH settings still doesn't allow `grunt-runner` to find `grunt`.

[2015-05-12 10:05] wmonk opened #52 "The icon does not change to an issue when the task has failed"
For some reason when the grunt task exits with a non zero code it doesn't change it to use the broken icon.

[2015-05-15 14:03] kupoback opened #54 "Failed to activate the grunt-runner package"
I just updated atom to 0.199.0

    ReferenceError: path is not defined
    at ResultsView.module.exports.ResultsView.parseGruntFile (C:\Users\nick\.atom\packages\grunt-runner\lib\grunt-runner-view.coffee:70:44)
    at Config.module.exports.Config.observeKeyPath (C:\Users\nick\AppData\Local\atom\app-     0.199.0\resources\app.asar\src\config.js:555:7)
    at Config.module.exports.Config.observe (C

[2015-05-15 16:43] kokarn commented on #54
Maybe something you can have a look at @sebastianhaeni ?

[2015-05-15 20:17] sebastianhaeni commented on #54
I'm currently unable to test a possible fix as I'm on vacation.
This might do the trick:
`path = require 'path'`

[2015-05-16 12:05] kokarn commented on #54
Apparently, the latest version of atom (0.199.0) has this little snippet

I'll fix this ASAP

[2015-05-16 13:02] #54 closed

[2015-05-17 08:13] phoenixenero opened #55 "Spaces in directory prevent plugin from running correctly."
Seems to happen in several other plugins (Linter for example.)

![ss 2015-05-17 at 04 09 54](https://cloud.githubusercontent.com/assets/9031092/7669604/3f7f4d02-fcaf-11e4-9473-d0cf9384c6f3.png)

Makes me wonder why this has been rarely reported...

[2015-05-20 12:46] superandrew opened #56 "Uncaught ReferenceError: path is not defined"
[Enter steps to reproduce below:]

1. Open Package config

**Atom Version**: 0.200.0
**System**: Mac OS X 10.10.3
**Thrown From**: [grunt-runner](https://github.com/nickclaw/atom-grunt-runner) package, v0.9.1

### Stack Trace

Uncaught ReferenceError: path is not defined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-05-20 12:53] kokarn commented on #56
This is a duplicate of #54 and fixed in master from https://github.com/nickclaw/atom-grunt-runner/commit/f70872d843affd71e3b2dd2c23d60b1291bdd431.
Just waiting for @nickclaw to publish.

In the meantime you can download the package from here ( you only need to replace lib/grunt-runner-view.coffee ).

[2015-05-20 12:53] #56 closed

[2015-05-21 13:00] hamishtaplin commented on #7
Same here. Grunt is installed `/usr/local/bin/` but this no worky.

[2015-05-21 13:18] kokarn commented on #7
Are you getting some error or are devtools opening?

Recently I had the problem with Atom having different paths depending on how you open it.

There is a big thread about that over here https://github.com/AtomLinter/Linter/issues/150 but the solution for me and some others was to add all the paths from ```$PATH``` to ```init.coffee```.

This is now my ```init.coffee```
[code]

[2015-05-21 15:44] hamishtaplin commented on #7
@kokarn Running Atom via the command line does indeed fix the problem.

[2015-05-21 19:04] nickclaw commented on #56
Published!

[2015-05-25 20:39] xperiments commented on #15
+1

[2015-06-13 19:27] guilhermemarconi opened #57 "Error reading Gruntfile"
I'm having this message in Grunt Runner Console:

    Error loading gruntfile: Error parsing Gruntfile. EBADF: bad file descriptor, write

But it was working yesterday! :disappointed:

[2015-06-13 20:58] kokarn commented on #57
Can you post your gruntfile so we can have a look?

[2015-06-13 21:07] guilhermemarconi commented on #57
Of course!

[code]

[2015-06-17 08:19] kokarn commented on #57
Could you try this?

[code]

[2015-06-20 00:57] guilhermemarconi commented on #57
Yes! I think it was realy the comma at `**/*.php`. Shame on me! :disappointed_relieved:

Thanks @kokarn

[2015-06-20 00:57] #57 closed

[2015-06-23 09:15] Raigen commented on #36
This is still an issue. Any news?

[2015-06-25 20:49] thechinnster commented on #15
+1

[2015-06-26 09:26] mutschelknauss commented on #15
+1

[2015-06-30 07:22] Tony-Mc commented on #32
I was getting `Error loading gruntfile: EBADF Bad file descriptor` because I did not have one of Grunt modules installed, `npm install` solved it.

[2015-06-30 23:14] beejjorgensen opened #58 "gruntfile.js found, Gruntfile.js not found"
If I name the file gruntfile.js, everything's happy.

But naming it Gruntfile.js (capital G), results in the following in the grunt-runner log:

Error loading gruntfile: Gruntfile not found.

Atom 1.0.0
grunt-runner 0.10.0
Arch Linux

I can rename the file or symlink to it as a workaround, but I believe the capital G is canonical.

[2015-07-01 06:41] kokarn commented on #58
Hmm, this is interesting. Because for me Gruntfile.js works so would assume it's something with your OS.  Can you test the same file on another linux box and/or a win/osx box?

[2015-07-01 23:57] beejjorgensen commented on #58
I'll try to get it set up on a Mac to test, but I think it will work fine there.

Changing "/gruntfile" to "/Gruntfile" grunt-runner-view.coffee causes it to work on my Linux box. I very much suspect that this is an issue related to the fact that filenames tend to be case-sensitive on Unix boxes, and case-insensitive on OSX/Windows.

If that's the case, maybe it makes more sense to refer to /Grunt

[2015-07-02 09:41] kokarn commented on #58
I have a speculative fix for this.

Can you test it out for me?
Replace lines 80 through 90 in ```grunt-runner-view.coffee``
[code]
with this
[code]

If it fails for /Gruntfile it just tries with /gruntfile :)

[2015-07-02 18:31] beejjorgensen commented on #58
Tested, works for me! :)

[2015-07-03 06:42] kokarn commented on #58
Great! I'll add that then :)

[2015-07-03 06:43] #58 closed

[2015-07-17 21:24] aosi87 commented on #3
I just did that and never works for me, im using atom-grunt-runer 0.11.0 with atom 1.0.2

[2015-07-19 06:03] sumobi commented on #15
+1

[2015-07-20 14:50] MaevaDbg commented on #15
+1

[2015-07-26 20:14] Mortoc opened #60 "Uncaught TypeError: undefined is not a function"
[Enter steps to reproduce below:]

1. This happens every time I run Atom with grunt-runner installed

**Atom Version**: 1.0.2
**System**: Mac OS X 10.10.4
**Thrown From**: [grunt-runner](https://github.com/nickclaw/atom-grunt-runner) package, v0.11.0

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-07-28 00:11] miketierney commented on #7
I'll pitch in that @kokarn's workaround fixed it for me (so far only tested after launching via the command line).

[2015-07-30 23:47] dubrod commented on #3
OMG was scratching my head for an hour till i found that Config file there.

did `sudo nano` on the init.coffee, restarted Atom and bam works awesome!!

[2015-08-21 00:43] RoverWire opened #62 "Doesn't work with nvm"
Seems like the package does not work with nvm installations, grunt path already provided and throws the same error:

  Failed to spawn command grunt. Make sure grunt is installed and on your PATH

I will try to fix it, but at this time, it doesn't works.

[2015-09-05 23:15] maxiz opened #63 "grunt exited with code 1"
I installed the runner (v 0.11.0) and the gruntfile gets parsed successfully. But running a task fails with an error message saying "Grunt exited with code 1."

[2015-09-11 06:56] huberd commented on #15
+1

[2015-09-11 15:08] kokarn commented on #63
Sorry, forgot to answer.

Can you post your gruntfile so we can have a look at that?

[2015-09-12 14:21] maxiz commented on #63
Here's the gruntfile. Some file paths have been removed for simplicity.

module.exports = function (grunt) {
    'use strict';
    grunt.initConfig({
        pkg: grunt.file.readJSON('package.json'),
        notify_hooks: {
            options: {
                enabled: true,
                max_jshint_notifications: 5,
                success: true,
                duration: 3
            }

[2015-09-20 10:23] Gum-Joe opened #64 "Grunt file (Gruntfile.js) fails to be loaded if it uses mocha"
![screenshot 33](https://cloud.githubusercontent.com/assets/12299307/9980259/8ad79ca4-5f89-11e5-9190-29d989eff477.png)
![screenshot 34](https://cloud.githubusercontent.com/assets/12299307/9980267/9fc7fb18-5f89-11e5-90fd-623c77c70759.png)

Even when the grunt file is open, it still does not detect it.

System:
* Atom 1.0.13
* Grunt-runner v0.11.0
* Grunt v0.4.5
* Grunt-cli v0.1.13
* OS: Windows 8.1

[2015-09-20 16:09] kokarn commented on #64
Is the Gruntfile in the root or somewhere else?

[2015-09-20 16:59] Gum-Joe commented on #64
It is in the root

[2015-09-21 07:07] kokarn commented on #64
Can you run grunt from the commandline in that project? I've had problems when either I forgot to run npm install or the gruntfile isn't formatted as it should :/

[2015-09-21 15:33] Gum-Joe commented on #64
Yes, I can
![screenshot 38](https://cloud.githubusercontent.com/assets/12299307/9996350/8b0a0a7c-607e-11e5-9a90-a06f0cdd762f.png)

[2015-09-22 13:45] Arcath commented on #64
I am getting something similar on my Windows 10 machine, grunt works fine from powershell but the gruntfile is not detected...

doing some debugging myself the gruntfile is found and loaded but there is a EPERM error when trying to run it to get the task list. Assuming that this is to do with the loading of tasks from NPM I commented all my `grunt.loadNpmTasks` lines and BINGO it works fine.

Afte

[2015-09-23 09:17] kokarn commented on #64
@Gum-Joe Can you try the latest version from master and see if that solves the issue? It's with the fix from #65.

[2015-09-23 09:52] kokarn commented on #63
Could you try with the latest version from master and see if that fixes the issue?

[2015-09-23 09:53] kokarn commented on #48
Is this still an issue?

[2015-09-23 09:54] kokarn commented on #47
Is this still an issue?

[2015-09-23 13:04] Arcath commented on #64
More testing has shown that the issue is in https://github.com/pghalliday/grunt-mocha-test/blob/master/tasks/lib/MochaWrapper.js which when allowed to load causes an EPERM error. Will do some more debugging shortly

[2015-09-23 13:27] Arcath commented on #64
Seems now to be because that file is where Mocha is being required... comment out the require('mocha') and it will parse ok

[2015-09-23 16:21] Gum-Joe commented on #64
Ok, will update

[2015-09-23 16:22] Gum-Joe commented on #64
Where is the require('mocha') line of code

[2015-09-23 16:38] Gum-Joe commented on #64
NEW ERROR
Thanks @Arcath for that pull request that improved error handleing - the error is now:
`Error loading gruntfile: Error parsing Gruntfile. EPERM: operation not permitted, write (C:\Users\Kishan Sambhi\Documents\Projects\Web-OS/Gruntfile)`

[2015-09-23 17:27] ealves-pt commented on #20
I am also using the Project Manager and I have found that strange behaviour. Nevertheless, I have found a way to make it work. On my Mac I just pressed ```Cmd+Shift+P``` and then choose the task ```Window: Reload```.

Now, every time I use the Project Manager everything works fine.

Hope this works for you guys.

[2015-09-24 07:09] kokarn commented on #64
Great, thanks @Arcath!

That seems to be the exact same problem he was having with mocha fucking up somehow.

The only thing that might be is that you are on windows and i'm unsure if that's even supported at the moment, haven't tried for like a year :P Does it work with any other gruntfile or if you comment out the mocha stuff?

[2015-09-24 07:47] kokarn commented on #20
Do you have to do this on every project you open or does it work after you've done it once?

I assume the problem has something to do with how we (initialise)[https://github.com/nickclaw/atom-grunt-runner/blob/master/lib/grunt-runner-view.coffee#L40] and that it doesn't trigger when you load a project from the project manager.

[2015-09-24 11:05] ealves-pt commented on #20
So far it works after I have done it once.

[2015-09-24 11:11] kokarn commented on #20
Wow, that makes no sense at all :D

[2015-09-24 15:23] Gum-Joe commented on #64
Thanks everyone for your help - can now run grunt tasks after commenting out mocha
![screenshot 39](https://cloud.githubusercontent.com/assets/12299307/10077545/9aa15d6c-62d8-11e5-8c6b-947f949316c4.png)

[2015-09-24 15:27] Arcath commented on #64
@Gum-Joe only issue is if you want to run mocha grunt tasks. For now I am using [grunt-shell](https://github.com/sindresorhus/grunt-shell) to run mocha commands manually for me

[2015-09-24 15:41] Gum-Joe commented on #64
Ok

[2015-09-24 15:41] Gum-Joe commented on #64
I will use grunt-exec

[2015-09-24 16:58] Gum-Joe commented on #64
I've changed the title as that is now the issue

[2015-09-24 21:35] kokarn commented on #64
@Arcath have you found that this bug is due to something with mocha or atom-grunt-runner?

[2015-09-25 02:50] LebedevAntony commented on #48
@kokarn,

Hi, I don't know, I stopped use atom a while back

[2015-09-25 05:53] Gum-Joe commented on #64
It is an issue with grunt-mocha-contribute, so it is probably mocha or grunt-mocha-contribute

[2015-09-25 05:53] Gum-Joe commented on #64
Will create issue on grunt-mocha-contrib

[2015-09-25 07:18] kokarn commented on #48
Ah, sad to hear. I'll close this for now then. Thanks!

[2015-09-25 07:18] #48 closed

[2015-09-25 07:35] kokarn commented on #64
Great!

So I take it I can close this for now then?

[2015-09-25 07:41] Gum-Joe commented on #64
Yes

[2015-09-25 07:41] Gum-Joe commented on #64
Will open new issue

[2015-09-25 07:41] #64 closed

[2015-09-29 21:44] maximegris commented on #63
Did you install "grunt-cli" package on nodejs ? => npm install -g grunt-cli
You need it to start the runner.

[2015-09-30 01:49] maxiz commented on #63
@maximegris - Yes, I had installed grunt-cli globally. The package worked with a simple gruntfile but was having trouble with the gruntfile I posted above.

@kokarn - Thanks for the update. I'll update the package and see if it works.

[2015-09-30 06:55] kokarn commented on #63
We had some problems with mocha making grunt unable to run. Would you mind commenting out one task at a time to see if you can narrow it down?

[2015-10-01 07:20] ealves-pt commented on #13
This PR #67 adds that possibility. There is an option in the package settings.

[2015-10-01 07:46] kokarn commented on #13
This is now live on master. As soon as @nickclaw publishes a new version you should be good.
If you can't wait that long you can install the latest version from master :)

[2015-10-01 07:46] #13 closed

[2015-10-01 10:22] ealves-pt commented on #38
Possible fix in PR #68

[2015-10-01 12:05] kokarn commented on #38
Fixed with #68. It's on master now so if you install from there you'll get it.
Otherwise there will hopefully be a new version soon-ish :)

[2015-10-01 12:05] #38 closed

[2015-10-05 13:43] ealves-pt commented on #52
PR #69 may fix this issue.

[2015-10-18 02:57] gabrielgreen commented on #20
Worked for me!

[2015-10-23 14:20] NKjoep commented on #63
I have the same problem and I'd like to help. Do you need any log?
I'm running node 4 with windows 7 x64

[2015-10-25 12:18] smnbbrv commented on #15
Current implementation does not really work for my case. The reason is that my Gruntfile is quite complicated and I have some custom nodejs logic inside, so some of my files are required before the process has switched to it's folder, see parse-config-task.coffee :

[code]

The easiest I've found to fix this issue is the following:

[code]

This works like a charm and I really think this would be

[2015-10-26 08:58] kokarn commented on #15
This is fixed thanks to @smnbbrv.
As soon as @nickclaw publishes a new version we should be fine. If you can't wait that long, install the latest version from master.

[2015-10-26 08:58] #15 closed

[2015-10-30 09:09] kudlajz opened #71 "Error loading Gruntfile: gruntfile not found"
I am getting a following error:
![screen shot 2015-10-30 at 10 06 26](https://cloud.githubusercontent.com/assets/4209081/10841936/07ff06a8-7eee-11e5-90ab-89a1445c75c5.png)
but gruntfile.js is in my root folder..
![screen shot 2015-10-30 at 10 06 31](https://cloud.githubusercontent.com/assets/4209081/10841937/081c17fc-7eee-11e5-8f62-ef583b77b5be.png)
I have tried Window: reload, opening my folder d

[2015-10-31 14:55] kokarn commented on #71
Duplicate of either #20 or #25

[2015-10-31 14:55] #71 closed

[2015-11-04 21:44] Paden commented on #62
+1

[2015-11-08 14:52] lidia-freitas commented on #62
+1

[2015-11-16 00:55] earth4x commented on #20
This doesn't work for me, does anyone else have the same issue?

[2015-11-16 08:59] bjorkblom opened #72 "Play sound on warning/errors while running grunt task"
It would be great if a sound was played when ie. less compiling error occurred.

[2015-11-23 16:19] pamtbaau opened #73 "Gruntfile not found (again)"
Installed Atom on Windows 10, add package grunt-runner and got the error: Gruntfile not found.

Searched the web, searched though all related issues here, tried all offered solution but to no avail.

In Atom I added a project folder which I used to work on using Netbeans which shows and executes all tasks in my Gruntfile.js. Grunt was installed locally in the subfolder of the project.

I tried man

[2015-11-24 22:11] REJack commented on #73
idk but i created a file named ``Gruntfile`` without ``.js`` then it worked.

he need to add ``Gruntfile.js & gruntfile.js`` to [this array](https://github.com/nickclaw/atom-grunt-runner/blob/8e2df9b639ddaa6cc7267d0170052208738b6010/lib/grunt-runner.coffee#L20)

[2015-11-28 22:54] kwhc opened #74 "Gruntfile not found"
Log says "Error loading gruntfile: Gruntfile not found" when Gruntfile.js is present.

[2015-11-28 23:03] kwhc commented on #73
+1

[2015-12-01 19:41] r-tanner-f commented on #62
+1

[2015-12-01 21:19] ackzell commented on #62
+1

[2015-12-02 08:41] slavik925 commented on #62
+1

[2015-12-08 10:32] smnbbrv opened #75 "Show error symbol when watch is running"
Currently it is hard to see that error has happened especially when log panel is collapsed while watch task is running.

Here comes the use case: I have a watch task which performs tslint / jshint / whatever similar which is validating something and returning errors when problems occur. I change the file, error happens, but I don't see it and my build has failed. If the logs are shown I still see

[2015-12-29 22:28] techseo commented on #74
I have the same issue for one project folder... uninstall, rename, reboot, npm install, etc. didn't help. Gruntfile.js works just fine via console.

[2015-12-31 13:06] techseo commented on #74
Okay, guess I've found the problem: The gruntfile will not be found if your path contains whitespaces.

[2015-12-31 13:08] techseo commented on #55
See #74

[2015-12-31 15:52] kokarn commented on #74
Closing as duplicate

[2015-12-31 15:52] #74 closed

[2016-01-04 14:42] tehsenaus opened #76 "Support multiple Gruntfiles (multiple projects in same window)"
I like to have multiple projects open in the same Atom window, by adding multiple folders to the Atom 'project'. It would be nice if the grunt runner supported this, by using the Gruntfile nearest to the file I have open.

[2016-01-07 04:28] sivakuna-aap opened #77 "Is there a way to pass arguments to a grunt task?"
At the moment, the task starts running the moment a grunt task is selected. Some of grunt tasks we use in the project need options and does this plugin supports this kind of functionality?

[2016-01-07 12:40] kokarn commented on #77
Can't you define that in your Gruntfile.js?
[code]

[2016-01-07 20:05] sivakuna-aap commented on #77
That's how I am doing it, at the moment. Thought if this option is there then it would be great.

[2016-01-07 23:55] kokarn commented on #77
I'm not sure if I understand exactly what you mean but the runner only runs the defined tasks from the Gruntfile. If it has options, those will be included.

[2016-01-07 23:59] sivakuna-aap commented on #77
Ah! I get it now what you mean by options. I was pointing to arguments. Sorry for the confusion. I re-phrase my question - is there a way to pass runtime arguments?

[2016-01-08 00:17] kokarn commented on #77
Not outside of those defined in the Gruntfile, no.
Shouldn't be that hard to add if you feel like doing a pull request :)

[2016-01-08 00:22] sivakuna-aap commented on #77
OK

[2016-01-11 15:29] iabw opened #78 "Run specific Grunt task without clicking?"
Hi, I'm new to Atom and was playing with [Atom Toolbar](https://github.com/suda/tool-bar/), and I wanted a button that ran a specific Grunt task. It expects its tasks to be strings, but there's no way to run a specific task from grunt-runner's defined atom commands.

What I ended up doing was adding my own command in [grunt-runner.coffee](https://github.com/nickclaw/atom-grunt-runner/blob/master/l

[2016-01-11 15:44] kokarn commented on #78
I'd say even looking at copying the whole package and rolling your own.
@nickclaw has been MIA since July so any pull-requests might have to wait until they are published on apm.

[2016-01-11 16:16] iabw commented on #78
Thanks for the fast response. Any tips on making something like this work?

[code]

Am I basically right that this would require modifying atom core? Basically, I want something like [Backbone's events](http://backbonejs.org/#Model-set) where you can bind to the "root" event. Backbone does this by firing [separate](https://github.com/jashkenas/backbone/blob/master/backbone.js#L515) [events](https:

[2016-01-11 19:04] smnbbrv commented on #78
@kokarn yes, absolutely agree about copying the package... It really should be maintained by somebody

[2016-01-23 06:09] tenKinetic commented on #76
I added a pull request for this. It's working for me with projects side-by-side / in the same window, hopefully for others too.

[2016-02-05 05:46] nickclaw opened #80 "Moving atom-grunt-runner to kokarn"
Hi @kokarn, sorry I've been missing in action. I've (clearly) stopped using atom-grunt-runner personally, and I'd like to transfer ownership of the repo and apm package to you if you want it. Let me know!

[2016-02-05 07:42] kokarn commented on #80
Hey!
No worries, stuff happens, it's life.
Hmm, i'm not that versed in coffeescript so I might not be the ideal maintainer but i'm here and won't go missing so maybe that's good enough for now?
Then if somebody steps up and want's to take over, it's easier to just transfer it to them.

What do you need from me?

[2016-02-05 08:01] nickclaw commented on #80
Yeah, well thanks for keeping track of all the issues for so long! I just wanted some confirmation from you, I'll transfer it over now.

I'm pretty sure this should give you [control over the apm package](https://atom.io/docs/latest/behind-atom-maintaining-your-packages#transferring-ownership), but if it doesn't let me know.

[2016-02-05 08:03] nickclaw commented on #80
Ooh, actually you'll need to delete your fork first. I can't transfer it over while there's a repo with the same name under your account.

[2016-02-05 08:41] kokarn commented on #80
Fork deleted!

[2016-02-05 08:53] nickclaw commented on #80
Transferring! I'm not sure if you have to confirm it or if it's just taking a while. But I'll check back in the morning.

[2016-02-06 18:20] nickclaw commented on #80
Hmm.. Still transferring.. @kokarn do you see any way to confirm the transfer?

[2016-02-08 20:13] kokarn commented on #80
Sorry! It got lost in the mail. Should be done now?

[2016-02-09 08:51] ealves-pt commented on #80
Cool :+1: I'm happy to "hear" this news.

[2016-02-09 08:58] kokarn commented on #80
Apparently you need to transfer it again @nickclaw. I was too slow :(

[2016-02-09 09:02] nickclaw commented on #80
Started the transfer over, hopefully it'll work now!

[2016-02-09 09:07] kokarn commented on #80
It does indeed ;)

[2016-02-09 09:12] nickclaw commented on #80
![](http://i.imgur.com/z94yPSH.gif)

Excellent, you should automatically have control over the package in `apm` too, but I'd double check :P

[2016-02-09 09:12] #80 closed

[2016-02-09 13:36] kokarn commented on #80
Looks to be working wonders. Thanks!

[2016-02-09 13:37] kokarn commented on #78
So, i've taken over as the maintainer for now.

Any pull-request is greatly appreciated :)

[2016-02-09 13:38] kokarn commented on #76
This is now merged and published to APM.

[2016-02-09 13:38] #76 closed

[2016-02-09 13:39] kokarn commented on #75
:+1: All pull requests welcome

[2016-02-09 13:40] kokarn commented on #63
@maxiz @NKjoep Did you get this to work?

[2016-02-09 13:40] kokarn commented on #60
Could you update grunt-runner to latest version and see if the problem still occurs?

[2016-02-09 13:41] kokarn commented on #52
@wmonk Can you try with the latest version?

[2016-02-09 13:43] kokarn commented on #2
@maxkorp Is this still an issue?

[2016-02-09 13:49] NKjoep commented on #63
@kokarn Honestly, I gave up and continued with my standard CLI.

should I try again? :)

[2016-02-09 13:50] kokarn commented on #63
Sure! Any input is appreciated. Quite a few updates to the package since you had trouble with it.

[2016-02-09 16:51] maxkorp commented on #2
I don't know, unfortunately. I haven't been using grunt in a real way for 6+ months now, as I have everything automated.

[2016-02-09 19:17] kokarn commented on #2
Hmm, i'll close this for now then. If somebody else reports it, i'll reopen. Thanks for the quick response!

[2016-02-09 19:17] #2 closed

[2016-02-09 19:21] maxkorp commented on #2
:+1:  No problemo!

[2016-02-10 11:44] ealves-pt commented on #73
@REJack the array seems ok to me... Those values are used inside a ```require()``` and as far as I understand you should not include file extensions when you use require. So in fact the values on that array should be able to resolve for ```Gruntfile.js & gruntfile.js```.

But I can't reproduce this is issue again. But I will keep an eye open for it.

[2016-02-10 13:31] ealves-pt commented on #42
@pangwa what OS are you using?

[2016-02-10 13:46] kokarn commented on #73
@ealves-pt I've added you as a contributor btw, as a little thanks for your great work <3

[2016-02-10 14:56] ealves-pt commented on #73
@kokarn glad to help mate :+1:

[2016-02-10 17:10] tclemos opened #82 "After update to 0.13.0 stopped to run and find tasks"
As the subject describes, after the update to version 0.13.0 this morning I'm currently unable to run grunt tasks from this package, the box to type the task name appears, but there is no tasks and even if I type a task that I'm really sure that is configured properly into gruntfile.js, it doesn't worked. Something similar had happened to me before when I forgot to install grunt, but now this is n

[2016-02-10 17:21] kokarn commented on #82
Can you post your Gruntfile and anything special you have configured on your system?
I think it's related to either #79 or #70

[2016-02-10 17:44] tclemos commented on #82
There is nothing special configured in my system, I'm running Windows 10 and the problem happened in Atom 1.4.3 and 1.5.0 when running the 0.13.0 version, it worked fine in both atom versions when using the 0.11.0.

[2016-02-10 17:45] ealves-pt commented on #82
I was checking that problem because I'm having the same issue with this new version and I was trying to debug it.

[2016-02-10 18:39] ealves-pt commented on #82
Locally I have reverted the code from PR #79 and the gruntfile is detected. @kokarn should we release a version 0.13.1 with that PR out?

[2016-02-10 19:03] ealves-pt commented on #82
I have opened the PR #83 to revert that commit and I have bumped the version number.

[2016-02-10 19:30] kokarn commented on #82
Merged! Publishing to apm ASAP

[2016-02-10 19:30] #82 closed

[2016-02-10 20:21] #3 closed

[2016-02-10 20:28] tclemos commented on #82
I've already downloaded de version 0.13.2 and now it seems to work fine.

Thanks for the quick fix!!!!

[2016-02-10 20:31] #7 closed

[2016-02-10 20:32] #5 closed

[2016-02-10 20:45] #9 closed

[2016-02-10 20:47] tclemos opened #84 "After Disable and Enable cause the package to create a new panel"
Steps to reproduce:

1. Show the Panel (grunt-runner:toggle-panel)
2. Go to Atom -> Settings -> Packages
3. Go to grunt-runner package and click on Disable, then click Enable.

After these steps a new panel will be created and every time you execute the following steps, a new one will be created, if you hide the current panel and execute the following steps again, you will have an alternated state

[2016-02-10 21:42] ealves-pt commented on #82
:+1:

[2016-02-10 21:44] #11 closed

[2016-02-10 21:45] ealves-pt commented on #20
Duplicate #10. Several issues cause ```Error loading Gruntfile: gruntfile not found```

[2016-02-10 21:48] ealves-pt commented on #25
Duplicate of #10. Several issues cause ```Error loading Gruntfile: gruntfile not found```

[2016-02-10 21:53] ealves-pt commented on #37
Any updates on this one?

[2016-02-10 21:55] ealves-pt commented on #32
Any update on this one?

[2016-02-10 22:19] ealves-pt commented on #73
Duplicate #10. Several issues cause ```Error loading Gruntfile: gruntfile not found```. I will try to gather all the reported issues in one place and go through the code to try to understand a bit more the root of all evil.

[2016-02-11 12:09] ealves-pt commented on #84
@tclemos I was digging through the code to become more familiarized with it and I think I have found the cause of this bug.

I think I have it fixed locally and I will test it during the day and if everything is fine I will open a PR.

[2016-02-11 13:02] ealves-pt commented on #84
@tclemos can you clone the repo and test locally if the version in the master solves your problem?

[2016-02-11 13:58] tclemos commented on #84
@ealves-pt Sure.

I've already cloned and the problem was fixed.

Thank you very much! :+1:

[2016-02-11 14:01] ealves-pt commented on #84
Nice. I will revert the indentation changes and then it will be finished. :+1:

[2016-02-11 14:30] #84 closed

[2016-02-11 23:23] ealves-pt opened #87 "Uncaught TypeError: this.parseGruntFile is not a function"
When adding or removing project folder to an active session throws this error.

[2016-02-11 23:27] #87 closed

[2016-02-14 12:21] voznik commented on #62
+1

[2016-02-15 07:56] ealves-pt commented on #62
When I have some free time I'll setup an environment with NVM and give it a try to see if I can understand what is going on. Meanwhile any idea/PR is welcome :smiley:

[2016-02-15 13:36] kokarn opened #89 "Make sure running works as intended with Grunt 1"
There are some awesome improvements coming soon, we should make sure they work as intended.
http://gruntjs.com/blog/2016-02-11-grunt-1.0.0-rc1-released

The main part i'm worried about is using grunt without grunt cli but this in `package.json`
[code]

[2016-02-15 15:18] Maloric opened #90 "Operation Not Permitted when using 'load-grunt-tasks' module"
This may be a duplicate of #10 but as I have slightly different symptoms and the fix there didn't work for me, I thought I should post as a separate issue and let the community decide.

I'm using the following line to load my grunt modules:

`require('load-grunt-tasks')(grunt);`

My grunt tasks all run fine in PowerShell, but when trying to run via Atom, I get the following error:

![image](https:

[2016-02-15 22:50] RoverWire commented on #62
@ealves-pt after months, I give atom another chance, so, to get this work I just added this on my `.profile` file (Ubuntu 14.04)

[code]

and that's it! grunt-runner works with nvm :smile:

But still exists #73 problem :disappointed:

[2016-02-15 23:01] RoverWire commented on #73
Hey @ealves-pt and @kokarn https://github.com/kokarn/atom-grunt-runner/pull/91

[2016-02-16 08:25] kokarn commented on #73
@pamtbaau @REJack @kwhc  Would you mind updating to the latest version (0.13.6) and see if that solves your issues?

[2016-02-16 08:41] pamtbaau commented on #73
Sorry @kokarn, I've uninstalled and stopped using Atom.

[2016-02-16 08:43] kokarn commented on #90
Can you try the latest version? It looks like in your first example there is an extra space, might be that #91 actually fixed this for you, even tho it seems unrelated.

[2016-02-16 08:44] kokarn commented on #10
I think this is related to #91
Can people try to updated to the latest published version and try again?

[2016-02-16 08:47] kokarn commented on #73
No problem, somebody else can probably reproduce :)

[2016-02-16 08:50] Maloric commented on #90
I updated to 0.13.6 and the error has disappeared but I get no "Grunt file parsed" message, and no output when trying to run a task that runs fine in the console:

![image](https://cloud.githubusercontent.com/assets/6311802/13071261/2ea89e3a-d48a-11e5-9a8c-6a41bc492952.png)

[2016-02-16 08:53] kokarn commented on #90
So now it's not detecting the gruntfile at all. Interesting.
Could you try with a folder that's more plain? No spaces or dots etc?

[2016-02-16 08:59] Maloric commented on #10
I copied the project to a new folder but I get the same result.  I tried reloading the package just to be sure, but it doesn't work.  Remember that I mentioned the panel closes itself normally when it works?  i.e. When I enable the package, the panel shows up for a second, blank, and then disappears once the Grunt file is parsed.  Well that doesn't happen here.  The panel just shows up and never d

[2016-02-16 08:59] Maloric commented on #90
I copied the project to a new folder but I get the same result.  I tried reloading the package just to be sure, but it doesn't work.  Remember that I mentioned the panel closes itself normally when it works?  i.e. When I enable the package, the panel shows up for a second, blank, and then disappears once the Grunt file is parsed.  Well that doesn't happen here.  The panel just shows up and never d

[2016-02-16 09:03] kokarn commented on #90
This is weird.
I'm guessing it has something to do with windows.
We've had some issues with path separators and stuff like that before.

Just to be sure, you can't run anything when the panel is there?

[2016-02-16 09:06] Maloric commented on #90
It doesn't appear so.  I tried running a few different tasks.  In the previous scenario where I load the package with the "load-grunt-tasks" line commented out, it works fine and I see the correct output.  In this scenario, however, it does nothing at all, and the "Start Grunt" button never changes to "Stop", even for long running tasks.

[2016-02-16 09:19] kokarn commented on #90
Ok yeah, it's really weird.
load-grunt-tasks REALLY shouldn't matter...
Any more information you can find out is helpful, maybe @ealves-pt has any thoughts?

[2016-02-16 10:19] ealves-pt commented on #90
At the moment I don't have any idea regarding this issue. I have going through the code testing several approaches and preparing a new feature that aims to solve this issues. I am also thinking about writing some tests to help us a bit more in the future.

@Maloric can you provide a Gist with a simple gruntfile that fails in your case? So I can test my code with it.

[2016-02-16 10:29] ealves-pt commented on #89
Yes, we need to start preparing the code for that configuration method. I have marked this as an enhancement.

[2016-02-16 10:30] Maloric commented on #90
Will do.  My first attempt at a stripped down project with one simple grunt task does work, so I'll check back in once I get it to the point of failure (at which point it should hopefully be more obvious what is happening).

[2016-02-16 10:58] ealves-pt commented on #90
Thanks mate :+1:

[2016-02-16 10:58] Maloric commented on #90
Ok, here it is.  The culprit is actually `grunt-contrib-requirejs`, and it fails when loading normally (as well as via `load-grunt-tasks`).  Just do an npm install on this gist and you should have the same problem as me.

https://gist.github.com/Maloric/e43096def392fc57701e

[2016-02-16 11:04] ealves-pt commented on #90
Nice, thank you. I have also managed to replicate the issue in a project where I use grunt-contrib-requirejs. Now we might be able to debug it properly.

[2016-02-16 13:08] kokarn commented on #90
Great! I've also been thinking about some tests so that's awesome that you are thinking the same.

[2016-02-16 18:10] RoverWire commented on #73
I just checked last version, this seems to be resolved :+1:

[2016-02-16 21:23] #73 closed

[2016-02-16 21:24] ealves-pt commented on #73
Thanks @RoverWire. I'll close the issue and we can keep an eye open for this bug on the other similar issues.

[2016-02-17 03:44] DSpeckhals commented on #90
I actually ran into this same problem a while back on a WIndows machine. I think it has to do with the way that `grunt-contrib-requirejs` is loading `requirejs` within the forked Atom->node process. I opened [an issue](https://github.com/gruntjs/grunt-contrib-requirejs/issues/103) for it in `grunt-contrib-requirejs`. In that issue, you'll see a way to monkey patch one of the files. I think that it

[2016-02-17 08:24] ealves-pt commented on #52
I think PR #69 fixed this bug so I will close this issue.

[2016-02-17 08:24] #52 closed

[2016-02-17 09:12] ealves-pt commented on #36
Still an issue and somehow might be related to this one #90.

[2016-03-02 12:51] StormPooper commented on #37
I'm having the same issue, fresh install of Atom, default settings, `Gruntfile.js` is in the project root. If I type a task name in manually I get no output in the log and nothing appears to happen.

[2016-03-07 09:31] kokarn commented on #37
Does it work from CLI?
Can you post your Gruntfile?

[2016-03-07 09:43] StormPooper commented on #37
@kokarn yes, it's used on our local machines and our build environments every day with no issues. It's quite large, so I've stuck it in a [PasteBin](http://pastebin.com/VxxtGraT).

[2016-03-07 10:18] kokarn commented on #37
What plugins are you using for grunt? Maybe grunt-contrib-requirejs ?

[2016-03-07 10:25] StormPooper commented on #37
No, we use bower components and wiredep at the moment, so no require stuff. Here's the [package.json](http://pastebin.com/DGqaFEvK).

[2016-03-07 10:52] kokarn commented on #37
Thank you! I'll try to have a look at this but I'm a bit swamped so no promises :)

[2016-03-07 10:53] StormPooper commented on #37
@kokarn no problem, thanks :)

[2016-04-05 10:33] kokarn commented on #89
Now that [Grunt 1.0.0 is released](http://gruntjs.com/blog/2016-04-04-grunt-1.0.0-released) this needs to be adressed.
Confirmed not working right now.

The expected behaviour should probably be to check if `npm run grunt` is defined before running grunt.
If it is, use that instead of just `grunt`.
Thoughts @ealves-pt ?

[2016-04-28 12:06] dariusrosendahl opened #92 "Ctrl + Alt + Shift + T suggestion always on top of the screen"
![2016-04-28 14_04_17-calculator](https://cloud.githubusercontent.com/assets/7299359/14885179/5b530922-0d4a-11e6-9207-819f327e6c3e.png)

It doesn't matter if the dock is open or closed. The message is always there, and nowhere near the dock

Running on Windows 10

[2016-06-27 14:22] JohaWeber commented on #37
I'm having the same issue. Gruntfile works fine with Sublime Editor and a simliar plugin and also when directly started via CLI.

OS: Win 10, Atom: v.1.9.0-beta0. (Same issue with the stable realease of Atom 1.8.0)

[2016-06-30 13:02] yhormanp commented on #63
This is what I did based on what I read on this post to solve the issue. Hope this works for anyone else.

I had the same issue with "Grunt exited with code 1.". But after read this post I uninstalled
-Grunt-runner
-build (atom-build)

through cmd  installed    ----- npm install -g grunt-cli
installed again Grunt-runner

and now it's working fine with any of the grunt file that I have in several p

[2016-08-09 01:54] TylerButh opened #93 "Doesn't run, nothing in log"
I installed Grunt Runner, and it will give errors if the gruntfile.js is missing, but other than that I get no errors or anything at all in the log.  It is completely empty even after trying to run a task.  Here is my gruntfile.js code:

`/*
This file in the main entry point for defining grunt tasks and using grunt plugins.
Click here to learn more. http://go.microsoft.com/fwlink/?LinkID=513275&cl

[2016-08-09 02:10] TylerButh commented on #93
Not knowing what to do I just started clicking around, tried running grunt outside of atom on that project and got a few errors. I fixed the errors, uninstalled grunt runner, reinstalled it, disabled and re-enabled it.  Then noticed the log was saying something so I clicked "Start Task" again and this time it worked.

So I don't know if it was because of the errors or perhaps it was unable to crea

[2016-08-09 02:10] #93 closed

[2016-11-12 19:37] wunderdojo opened #94 "Support Multiple Grunt Files"
First off, thanks for writing this, it's a huge help.

I'm wondering if it's possible to add support for multiple grunt files. I often have several projects open each of which has their own grunt tasks defined. In NetBeans I can simply right click on the gruntfile in any project to view and run any of the tasks. With this addon the first gruntfile encountered gets loaded so if I didn't close all o

[2016-11-12 21:00] kokarn commented on #94
Interesting approach. I've never actually done like that. I quite like the idea of having a single project view for each project and switching between them.

With that said, I don't see why this would be impossible to implement.

We'd have to traverse up from every file you open and somehow build a list that you could choose from and present that. Probably somewhere around here
https://github.com/

[2016-11-12 21:35] wunderdojo commented on #94
Thanks for the quick reply. This is what it looks like in NetBeans. I'll see if I can do anything with it.
![netbeans-grunt](https://cloud.githubusercontent.com/assets/136976/20242123/e9689ef6-a8dc-11e6-9233-21f27db52c88.png)

[2016-11-12 23:03] kokarn commented on #94
So you open each projects root folder at the same time in Atom? I was thinking you only opened a few files from each project.

[2016-11-13 02:54] wunderdojo commented on #94
I'm primarily working on a bunch of WordPress plugins. Each one has its own Git repo and a I vagrant tasks that automate the entire release process including uploading the new version to our server; updating the version numbers so that customers get the update notice; etc. In NetBeans I simply have the entire local WP install loaded as a project and then I can hop from plugin to plugin running tas

[2016-11-13 10:38] kokarn commented on #94
Ah, I see. That's quite a bit different from how I work most of the time.

Should work fine tho, just re-triggering the lookup for a Gruntfile from the selected file and upwards should result in you getting the closest one to that file.

[2016-11-13 18:24] wunderdojo commented on #94
Great, thanks. I'll give it a go this week and see what I can come up with. Really appreciate the help.

[2016-11-29 10:52] tenKinetic commented on #94
I've implemented this in my own fork. Needs a little more work before a pull request could be made though.

I came across this issue because I lost this functionality when I updated today after quite a while. Turns out my previously committed pull request was reverted.

The version I've done this time is a bit different though. Before it was purely to allow switching grunt files when opening a fil

[2016-11-29 10:59] kokarn commented on #94
Wow, that's great news man!

Not sure at all why it was reverted, maybe in the shuffle when I got ownership or something.

Looking forward to the update!

[2016-11-29 17:51] wunderdojo commented on #94
That's awesome, thanks so much for sharing it.

[2017-01-12 22:58] Ferreno opened #95 "Error loading gruntfile: Gruntfile not found"
Tried multiple things; with/without root, forward/backslash, with/without .js ext and case sensitivity. Also tried npm install after removing the node_modules folder. The gruntfile tasks work OK through cmd.

I can confirm however the gruntfile is there. If I copy the path that it provides it resolves immediately.

![grunt](https://cloud.githubusercontent.com/assets/7279817/21911642/ee85459a-d921-

[2017-01-13 09:00] kokarn commented on #95
I think it's because it's not in the root of the project. Could you try to move it there?

If that doesn't help, please make sure it's not a duplicate of #10 or #20 :)

[2017-01-13 18:01] Ferreno commented on #95
I've just copied it into the root, same issue. Tried those things listed in my initial post to no avail. Could there be a conflict with other packages perhaps?

Wouldnt prepending the subfolder under Gruntfile Paths counter the root requirement?

[2017-01-16 09:05] kokarn commented on #95
It would, in some cases. There's been quite a lot of discussion and fixes for the Gruntfile path and right now it's actually supported to not have it in root (#70).

I think the problem this time is with your actual path. Could you try to move it to a folder you can actually share? By the looks of it, it's mixing slashes (which shouldn't be a problem) but we've had issues with stuff like spaces be

[2017-01-16 18:44] Ferreno commented on #95
Sorry! Cloned it to local now and I can actually share the whole thing. :-)

![gruntatom](https://cloud.githubusercontent.com/assets/7279817/21995242/124e0a48-dc24-11e6-9437-c8a6f8692d44.png)

I left a copy of the gruntfile in the root for reference.

[2017-02-11 00:10] #6 closed

[2017-04-25 09:27] typhoon2099 commented on #37
I might have the same issue. I click "Start Grunt" and no commands are listed. Nothing is written to the log. I can't tell if Grunt isn't running or failing to run or what's going on. It runs fine in a terminal.

[2017-04-26 07:08] kokarn commented on #37
I have also got this error in one of my projects now. It includes nested folders in the project so might be that. Not sure tho.

[2017-04-26 07:10] kokarn commented on #95
Hmm, I see. Probably related to nesting but not really sure how and why. Might need to look through the code that finds Gruntfiles at some point...

[2017-08-20 00:45] BrunoAlcantara commented on #10
Thanks @eseceve Worked for me too!

[2018-04-12 08:41] #92 closed

[2018-06-27 14:17] brnanders opened #97 "Error: rsync exited with code 12"
I was using this package before a Windows update and it was working great, but since the update, the rsync task is failing.  I can still run grunt/rsync successfully from Cygwin so I am not sure what the issue is.  Please let me know if any ideas, I would like to continue using this package.

[2019-11-27 04:23] freddyyeddy commented on #95
Any fix for this yet?